ul, li {
    background-color: rgb(243, 243, 243);
}

.list-group-item {
    border: none;
}

.media img {
    width: 4.5vw;
    height: 4.5vw;
    object-fit: contain;
}

.row {
    margin-right: 0;
    margin-left: 0;
}