<div *ngIf="cartItems | async as cartItems">
    <ul class="list-group">
        <li
            *ngIf="cartItems.length === 0"
            class="list-group-item">
            Your cart is empty.
        </li>
        <li
            *ngFor="let cartItem of cartItems"
            class="list-group-item">
            <div class="media mb-2">
                <img
                    class="mr-2 align-self-center border rounded-circle"
                    [src]="cartItem.item.imgUrl"
                    alt="">
                <div class="media-body">
                    <h5 class="card-title">{{ cartItem.item.name }}</h5>
                    <p class="card-text">{{ cartItem.item.price * cartItem.quantity | currency }}</p>
                </div>
            </div>
            <app-add-to-cart [item]="cartItem.item"></app-add-to-cart>
        </li>
        <li
            *ngIf="cartItems.length > 0"
            class="list-group-item">
            <div class="row">
                <button
                    (click)="emptyCart()"
                    class="col-6 btn btn-light align-self-center">Empty Cart</button>
                <span
                    class="col-6 align-self-center">Total: {{ fetchTotalPrice | async | currency }}</span>
            </div>
        </li>
        <li
            *ngIf="cartItems.length > 0"
            class="list-group-item"
            id="go-to-cart">
            <button
                (click)="closePreviewF()"
                routerLink="shopping-cart"
                class="btn btn-primary w-100">Go to cart</button>
        </li>
    </ul>
</div>
