<nav class="navbar">
    <div class="container">
        <ul ngbNav>
            <li ngbNavItem>
                <a
                    routerLink=""
                    ngbNavLink>
                    <i class="fas fa-leaf"></i>
                </a>
            </li>
        
            <li ngbNavItem>
                <a
                    ngbNavLink>
                        <i class="fas fa-shopping-cart">
                            <span class="rounded-pill" id="item-count">{{ totalItems }}</span>
                        </i>
                </a>
            </li>
        </ul>
        <app-login></app-login>
    </div>
</nav>