$gray: rgb(161, 161, 161);

a {
    color: $gray;
}

.navbar {
    border-bottom: 2px solid rgb(209, 209, 209);
}

.nav-link {
    padding: 0 !important;
    margin: .5rem 1rem;
}

li:first-child a.nav-link {
    margin-left: 0;
}

.nav-link > i.fa-leaf {
    color: rgb(137, 211, 137) !important;
}

#cart-toggler {
    margin: 0 .8rem !important;
}

#cart-toggler a {
    padding: 0 0 !important;
    margin: 0.5rem .2rem !important
}

#cart-preview {
    position: fixed;
    z-index: 999;
    min-height: 5vh;
    max-height: 50vh;
    min-width: 20vw;
    max-width: 30vw;
    overflow: auto;
}

#shopping-cart a {
    color: $gray;
}

#item-count {
    margin-left: .2rem;
    color: #000;
    padding: 0 .5rem;
    background-color: #ffc107;
}

.cart-open {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0 0 .3rem lightgray;
}