<nav class="navbar">
    <div class="container">
        <ul ngbNav>
            <li ngbNavItem>
                <a
                    routerLink=""
                    ngbNavLink>
                    <i class="fas fa-leaf"></i>
                </a>
            </li>
        
            <li
                id="cart-toggler"
                ngbNavItem>
                <a
                    (click)="toggleCartPreview()"
                    ngbNavLink
                    class="cart-preview-closed">
                    <i class="fas fa-shopping-cart">
                        <span class="rounded-pill" id="item-count">{{ totalItems | async }}</span>
                    </i>
                </a>
                <div
                    id="cart-preview"
                    class="collapse">
                    <app-cart-preview [closePreviewFRef]="toggleCartPreview"></app-cart-preview>
                </div>
            </li>
        </ul>
        <app-login></app-login>
    </div>
</nav>