
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$organic-shop-primary: mat-palette($mat-indigo);
$organic-shop-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$organic-shop-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$organic-shop-theme: mat-light-theme($organic-shop-primary, $organic-shop-accent, $organic-shop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($organic-shop-theme);

/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
